.hotel-card {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr; /* Distribución de columnas ajustada */
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 10px auto;
    max-width: 950px; /* Ancho máximo de la tarjeta */
    background-color: #D9D9D9; /* Nuevo color de fondo */
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.15); /* Sombra sutil */
    transition: transform 0.2s, box-shadow 0.2s; /* Efecto de transición para el hover */
  }
  
  .hotel-card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el cursor */
    box-shadow: 0px 12px 24px rgba(0,0,0,0.2); /* Sombra más fuerte al pasar el cursor */
  }
  
  .hotel-card img {
    width: 100%; /* Cubre todo el ancho del contenedor designado */
    height: 200px; /* Altura fija */
    border-radius: 10px;
    object-fit: cover; /* Mantiene la proporción sin cortar contenido esencial */
  }
  
  .hotel-info {
    grid-column: 2; /* Ocupa la segunda columna */
    padding: 0 20px;
  }
  
  .hotel-name {
    font-size: 20px;
    color: #333; /* Color oscuro para mejor lectura */
  }
  
  .hotel-details {
    font-size: 14px;
    color: #666; /* Gris oscuro para detalles */
  }
  
  .hotel-stars {
    color: #FFD700; /* Color dorado para las estrellas */
    font-size: 14px;
  }
  
  .price-box {
    grid-column: 3; /* Ocupa la tercera columna */
    background-color: #73270D; /* Nuevo color característico */
    padding: 10px; /* Reduce el padding para hacerlo más compacto */
    border-radius: 10px;
    text-align: center;
  }
  
  .price-box .hotel-provider, .price-box .hotel-breakfast, .price-box .hotel-discount {
    font-size: 14px;
    margin: 5px 0;
    color: white; /* Color blanco para mejor contraste */
  }
  
  .price-box .hotel-breakfast {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .price-box .hotel-breakfast i {
    color: #ffcc00; /* Color amarillo para el ícono */
    margin-right: 5px;
  }
  
  .price-box .hotel-discount {
    color: red; /* Rojo para el descuento */
  }
  
  .price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .price-container .price {
    font-size: 18px;
    font-weight: bold;
    color: white; /* Cambiado a blanco para mejor contraste */
    margin-right: 10px; /* Espacio entre el precio y el botón */
  }
  
  .view-deal {
    background-color: #40180A; /* Un tono más oscuro que el contenedor */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Asegura que el botón esté en línea con el precio */
  }
  
  .view-deal:hover {
    background-color: #8C311C; /* Un tono más claro para el hover */
  }
  