/* Estilos para el Header */
.header {
    background-color: #8C311C;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    margin-right: auto; 
    margin-left: 70px; 
  }
  
  .logo {
    height: 80px; 
  }
  
  .nav {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
  }
  
  .nav ul {
    display: flex;
    gap: 32px; 
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: #ddd; 
  }
  
  .login-container {
    margin-left: auto; 
    margin-right: 24px; 
  }
  
  .login-button {
    background-color: #BF7C41; 
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px; 
    border: 4px solid black; 
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #d68e5f; 
  }
  