.register-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #BF7C41;
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: white;
  }
  
  .separator {
    border: none;
    border-bottom: 1px solid #ccc; 
    width: 100%; 
    margin: 20px 0; 
  }
  
  .logo-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    max-width: 220px;
  }
  